.PostView {
  position: relative;
  padding: 10px 0px 20px 0px;
  margin: 15px;
  border-radius: 10px;
  background-color: white;
}

.PostHeader {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  padding: 0px 10px;
  text-align: right;
}

.PostText {
  position: relative;
  margin: 20px 20px;
  color: rgba(0, 0, 0, 0.8);
}

.PostImg {
  position: relative;
  display: inline-block;
  width: 91%;
  border-radius: 10px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
}

.ImgSlot {
  position: relative;
  width: 100%;
  text-align: center;
}

.ShareBtn {
  position: relative;
  display: inline;
  padding: 3px 10px;
  background-color: white;
  color: #414569;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
}
.ShareBtn:focus,
.ShareBtn:hover {
  cursor: pointer;
  outline: none;
  background-color: #414569;
  color: white;
}
