.progress-bar {
  background-color: #a091fa;
}

.linkStyle {
  color: rgba(0, 0, 0, 0.9);
}
.linkStyle:hover {
  text-decoration: none;
  background-color: rgba(17, 17, 17, 0);
}

.QuestionView {
  width: 100%;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  text-align: center;
  background-color: white;
}

.Counter {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
}

.Text {
  width: 100%;
  margin-bottom: 50px;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
}

.TextResults {
  width: 100%;
  margin: 20px 0px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
}

.ScoresResults {
  width: 100%;
  margin: 10px 0px;
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
}

.AnswerBtn {
  display: inline-block;
  width: 300px;
  padding: 15px 10px;
  margin: 8px 0px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  font-size: 15px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
  border: none;
}
.AnswerBtn:hover,
.AnswerBtn:focus {
  cursor: pointer;
  outline: none;
}

.icon {
  position: relative;
  display: inline-block;
  width: 120px;
  margin: 20px;
  font-size: 25px;
  text-align: center;
  border-radius: 100px;
  padding: 10px;
  background-color: rgb(37, 37, 51);
  color: #cbcfff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.6);
  transition: 0.2s all;
}
.icon:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.9);
  background-color: #adb4ff;
}

.testAbortBtn {
  position: relative;
  display: inline-block;
  width: 90%;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  margin: 20px;
  text-align: center;
  color: #b9bfff;
}

.copyrightText {
  position: relative;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  margin-top: 50px;
  text-align: center;
  color: #b9bfff;
  opacity: 0.3;
}
