.ProfileCard {
  position: relative;
  width: 100%;
  margin: 25px 0;
  padding: 15px;
  border-radius: 10px;
  background-color: rgb(37, 37, 51);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
}

.UserPhoto {
  position: relative;
  display: inline;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 3px solid white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.UserName {
  position: absolute;
  display: inline;
  top: 10px;
  right: 15px;
  font-size: 20px;
  font-weight: 500;
  color: #dee1ff;
}

.TestResultsCard {
  position: relative;
  width: 100%;
  margin: 25px 0;
  padding: 15px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
}

.Test {
  position: relative;
  width: 100%;
  padding: 10px 0;
  margin: 10px 0;
}

.TestTitle {
  max-width: 80%;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.9);
}

.RunTestBtn {
  position: absolute;
  right: 0px;
  top: 10px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 10px;
  padding: 1px 12px 2px 15px;
  color:rgba(0, 0, 0, 0.8);
  border: 2px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  opacity: 0.9;
}
