::-webkit-scrollbar-track {
  background-color: rgb(37, 37, 51);
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color: rgb(172, 163, 255);
}

::-webkit-scrollbar {
  width: 0px;
  height: 4px;
}

.testView-enter {
  opacity: 0;
}
.testView-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.testView-exit {
  opacity: 1;
}
.testView-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.modal-dialog-centered.modal-dialog-scrollable .modal-content {
  max-height: 80%;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
}

.modal-content {
  background-color: #ffc9ed;
  color: rgba(0, 0, 0, 0.8);
}

.Header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 50px;
  background-color: rgb(37, 37, 51);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  color: #dee1ff;
  font-size: 18px;
  font-weight: 500;
  padding: 5px 15px 10px 15px;
}

.titleMark {
  padding: 3px 8px 4px 8px;
  border-radius: 5px;
  color:rgb(31, 31, 51);
  font-size: 16px;
  background: linear-gradient(45deg, #a6acff, #ff9dd1);
}

@font-face {
  font-family: Caveat-SemiBold;
  src: url(styles/fonts/static/Caveat-SemiBold.ttf);
 }

.titleApp {
  font-size: 22px;
  font-family: Caveat-SemiBold;
  margin-right: 15px;
}

.Body {
  -webkit-overflow-scrolling: touch;
  position: fixed;
  width: 100%;
  top: 50px;
  height: calc(100% - 105px);
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: rgb(31, 31, 51);
  padding: 0px 10px 20px 10px;
}

.footer {
  position: fixed;
  bottom: 0px;
  z-index: 1;
  width: 100%;
  height: 55px;
  padding: 8px 0 0 0;
  border-radius: 10px 10px 0 0;
  border-top: 2px solid #ffade4;
  background-color:rgb(37, 37, 51);
  text-align: center;
}

.btnFooter {
  position: relative;
  display: inline;
  margin: 0 28px;
  text-align: center;
  font-size: 22px;
  border-radius: 15px;
  overflow: hidden;
  color: #b4b9ff;
  text-align: center;
  transition: 0.1s all;
}
.btnFooter:hover {
  cursor: pointer;
  color: #ffa4f3;
  outline: none;
}

.testView-entering {
  position: relative;
  width: 95%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.8);
  text-align: center;
  opacity: 0;
}

.testView-entered {
  position: relative;
  width: 95%;
  left: 50%;
  transform: translateX(-50%);
  margin: 20px 0px;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.8);
  text-align: center;
  opacity: 1;
  transition: 1s all;
}

.testTitle {
  position: relative;
  z-index: 1;
  max-width: 100%;
  margin-top: 10px;
  font-weight: 500;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.8);
}

.testText {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
}

.infoBtn {
  position: relative;
  display: inline-block;
  padding: 3px 10px 4px 10px;
  margin: 15px 3px 0 3px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 10px;
  background-color: rgba(37, 37, 51);
  color: rgb(37, 37, 51);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
}
.infoBtn:hover,
.infoBtn:focus {
  cursor: pointer;
  outline: none;
  background-color: black;
}

.headerBtn {
  position: relative;
  display: inline-block;
  color: #a6acff;
  font-size: 18px;
  padding: 5px;
  margin-left: 10px;
  opacity: 0.6;
}

.testCount {
  position: relative;
  z-index: 1;
  width: 100%;
  margin: 20px 0;
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
}

.testComeInBtn {
  -webkit-appearance: none;
  position: relative;
  display: inline-block;
  z-index: 1;
  margin-top: 20px;
  font-weight: 500;
  font-size: 18px;
  padding: 3px 15px;
  border-radius: 10px;
  border: 2px solid #dbbbff;
  color: #dbbbff;
  padding: 3px 20px;
  background-color: rgb(37, 37, 51);
  outline: none;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
}
.testComeInBtn:hover,
.testComeInBtn:focus {
  cursor: pointer;
  outline: none;
  background-color: black;
}

.infoText {
  position: relative;
  width: 100%;
  padding: 0px 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #b9bfff;
  opacity: 0.6;
}

.iconMain {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  text-align: center;
  border-radius: 20px;
  padding: 10px 10px;
  background-color: rgb(26, 26, 36);
  color: #cbcfff;
  transition: 0.2s all;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}
.iconMain:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.9);
  background-color: #adb4ff;
}

.iconTitle {
  position: relative;
  display: block;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  padding: 3px;
  border-radius: 30px;
}

.btnsTitle {
  position: relative;
  width: 100%;
  margin: 45px 0px 0px 0px;
  padding: 3px 10px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: rgba(0, 0, 0.8);
  border-radius: 10px 10px 0 0;
  background-color: #adb4ff;
}

.btnsBackground {
  padding: 20px 15px 1px 15px;
  border-bottom: 2px solid #ffb0db;
  background-color: #2e3047;
  border-radius: 0 0 20px 20px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
}
